In [1]:
#import Libraries
import pandas as pd
import numpy as np

pd.options.mode.chained_assignment = None

In [2]:
#Load the dataset
data = pd.read_csv("Play_By_Play_2018_2022.csv",encoding="ISO-8859-1")
# data['Species'].unique()

C:\Users\s\AppData\Local\Temp\ipykernel_14068\2488183092.py:2: DtypeWarning: Columns (180,181,183,184,190,191,194,195,198,199,204,205,206,207,210,211,214,215,219,220,221,223,225,227,234,235,236,237,238,239,244,245,246,249,250,254,255,256,261,263,264,267,268,269,270,284,285,302) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Play_By_Play_2018_2022.csv",encoding="ISO-8859-1")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231999 entries, 0 to 231998
Columns: 373 entries, Unnamed: 0 to pass_oe
dtypes: float64(174), int64(39), object(160)
memory usage: 660.2+ MB

In [4]:
data.describe()

,Unnamed: 0,play_id,old_game_id,week,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,quarter_end,drive,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
count,231999.000000,231999.000000,2.319990e+05,231999.000000,212307.000000,231893.000000,231893.000000,231893.000000,231999.000000,229323.000000,...,231999.000000,231999.000000,229388.000000,80684.000000,80684.000000,80684.000000,80684.000000,80684.000000,173980.000000,169396.000000
mean,116000.000000,2133.169996,2.020090e+09,9.206419,48.631133,407.466776,800.975420,1700.552380,0.017086,11.649795,...,0.087212,0.516308,0.002992,0.718426,5.417035,3.591307,0.784875,0.585704,0.627268,-0.411592
std,66972.486888,1246.855875,1.399867e+06,5.271703,24.356269,282.231480,562.024293,1060.266958,0.129593,6.707934,...,0.282145,0.499735,1.235705,0.525664,2.471705,2.495171,0.249446,0.355813,0.240100,41.938850
min,1.000000,1.000000,2.018091e+09,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,-13.584859,-0.688394,0.303169,0.000000,0.017248,0.007914,0.010774,-99.512960
25%,58000.500000,1062.000000,2.019093e+09,5.000000,31.000000,139.000000,263.000000,776.000000,0.000000,6.000000,...,0.000000,0.000000,-0.551669,0.321247,3.721284,2.000000,0.566650,0.242888,0.456091,-41.678280
50%,116000.000000,2113.000000,2.020110e+09,9.000000,50.000000,386.000000,781.000000,1800.000000,0.000000,11.000000,...,0.000000,1.000000,0.000000,0.596747,4.599437,3.000000,0.984912,0.492966,0.598076,4.238367
75%,173999.500000,3178.000000,2.021112e+09,14.000000,70.000000,652.000000,1285.000000,2586.000000,0.000000,17.000000,...,0.000000,1.000000,0.519160,0.966109,6.747183,5.000000,1.000000,0.999156,0.855407,34.045229
max,231999.000000,5921.000000,2.022122e+09,22.000000,99.000000,900.000000,1800.000000,3600.000000,1.000000,38.000000,...,1.000000,1.000000,8.401285,9.491754,23.904970,30.000000,1.000000,1.000000,0.997902,97.995060

In [5]:
data.drop("Unnamed: 0",axis=1,inplace=True)

In [6]:
data.shape

(231999, 372)

In [7]:
data.columns

Index(['play_id', 'game_id', 'old_game_id', 'home_team', 'away_team',
       'season_type', 'week', 'posteam', 'posteam_type', 'defteam',
       ...
       'out_of_bounds', 'home_opening_kickoff', 'qb_epa', 'xyac_epa',
       'xyac_mean_yardage', 'xyac_median_yardage', 'xyac_success', 'xyac_fd',
       'xpass', 'pass_oe'],
      dtype='object', length=372)

In [8]:
data.head()

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,1,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,NaN,NaN,NaN,...,0,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,37,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,PHI,...,0,0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,52,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,PHI,...,0,0,-0.773778,NaN,NaN,NaN,NaN,NaN,0.479781,NaN
3,75,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,PHI,...,1,0,0.850118,0.564953,3.515878,2.0,0.998706,0.147457,0.587117,41.288257
4,104,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,PHI,...,1,0,1.005722,NaN,NaN,NaN,NaN,NaN,0.498259,-49.825913

In [9]:
# 1.You can eliminate all rows where 'play' does not equal 1 (this eliminates unhelpful plays)
df_usefull_player = data[data['play'] == 1]
df_usefull_player.reset_index(inplace=True)

In [10]:
df_usefull_player

,index,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,2,52,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,0,0,-0.773778,NaN,NaN,NaN,NaN,NaN,0.479781,NaN
1,3,75,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,1,0,0.850118,0.564953,3.515878,2.0,0.998706,0.147457,0.587117,41.288257
2,4,104,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,1,0,1.005722,NaN,NaN,NaN,NaN,NaN,0.498259,-49.825913
3,5,125,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,0,0,1.478382,NaN,NaN,NaN,NaN,NaN,0.467981,-46.798116
4,6,146,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,0,0,-0.590785,0.549654,4.103093,2.0,0.611379,0.240463,0.457959,54.204091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174801,231988,1549,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,DEN,home,...,0,1,-0.921533,NaN,NaN,NaN,NaN,NaN,0.762647,23.735290
174802,231990,1577,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,DEN,home,...,0,1,-0.077183,0.625611,3.089912,1.0,0.322627,0.322627,0.952786,4.721403
174803,231993,1640,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,0,1,-0.232035,0.141226,3.009908,1.0,1.000000,0.997145,0.801854,19.814630
174804,231994,1662,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,0,1,-0.413200,NaN,NaN,NaN,NaN,NaN,0.837418,16.258250
174805,231996,1681,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,0,1,-0.415150,0.553902,8.289337,7.0,0.153667,0.153667,0.897126,10.287440

In [11]:
#2 . So what I'd like is to add a column to the play by play file above for "Pos_Offensive_Coordinator"
#which will match the field 'posteam' to "Team" and the field 'season' to the corresponding column... 
#this will tell us who the offensive coordinator was for each offense
offensive_coordinator_df = pd.read_excel("Offensive Coordinators.xlsx")
offensive_coordinator_df.columns

Index([     'Team',        2022,        2021,        2020,        2019,
              2018, '2022 Code', '2021 Code', '2020 Code', '2019 Code',
       '2018 Code'],
      dtype='object')

In [12]:
# offensive_coordinator_df[[2022,"Team"]]

for i, row in df_usefull_player.iterrows():
    if row['posteam'] in offensive_coordinator_df['Team'].values and row['season'] in list(df_usefull_player.season.unique()):
        df_usefull_player.loc[i,'Pos_Offensive_Coordinator'] = offensive_coordinator_df.loc[offensive_coordinator_df['Team'] == row['posteam'], row['season']].values[0]
print("append")

append

In [13]:
#3. Add another column called "Pos_Head_Coach" that points to either "home_coach" or "away_coach" based on whether "posteam_type" is home or away
# If "posteam_type" = home, set "Pos_Head_Coach" to "home_coach"
# If "posteam_type" = away, set "Post_Head_Coach" to "away_coach"

df_usefull_player['Pos_Head_Coach'] = df_usefull_player.apply(lambda x: x['home_coach'] if x['posteam_type'] == 'home' else x['away_coach'], axis=1)

In [14]:
# df_usefull_player['Pos_Head_Coach'].unique()

In [15]:
#4. Using data from current season (that is already known) + 2 former seasons, add a column called "Pos_OC_Pass_OE" and a column called "Pos_HC_Pass_OE"
# Example for value of "Pos_OC_Pass_OE" in week 5 of 2022, it should calculate based on all plays from season = 2021 (all weeks), season = 2020 (all weeks), and season = 2022 (weeks 1 through 4 only)
# Calculation for "Pos_OC_Pass_OE" sums "pass_oe" for the Offensive Coordinate (Pos_Offensive_Coordinator) over relevant sample divided by total number of plays
# Calculation for "Pos_HC_Pass_OE" sums "pass_oe" for the Offensive Coordinate (Pos_Head_Coach) over relevant sample divided by total number of plays



# so the values should be dynamic based on the point in time for that game... example when determining a coach's 
# Pos_OC_Pass_OE during week = 10 and season = 2022 for CoachABC, the calc should be sum of pass_oe where OC = CoachABC, 
# season 2020 or 2021, plus season = 2022 and week < 10

In [62]:
# (2018 in (list(df_usefull_player['season'])) & (1 in list(df_usefull_player['week'])))

In [65]:



for  i,row in df_usefull_player.iterrows():
    # s = row['season']
    # w = row['week']

    # print(df_usefull_player[row(['season']-2).isin(df_usefull_player['season']) & (row['week']-1).isin(df_usefull_player['week'])])
    
    s = row['season']-2
    w = row['week']-1
    # print("222222",df_usefull_player['season'] >= row['season'] - 2)
    
    
    df=s in (list(df_usefull_player['season']) & (w in (list(df_usefull_player['week']))))

    df
    # relevant_data = df_usefull_player[s.isin(df_usefull_player['season'])]
    # print(relevant_data['season'].head())


    # total_plays = len(relevant_data)
    # oc_plays = relevant_data[(relevant_data['Pos_Offensive_Coordinator'] == row['Pos_Offensive_Coordinator'])]['pass_oe'].sum()
    # hc_plays = relevant_data[(relevant_data['Pos_Head_Coach'] == row['Pos_Head_Coach'])]['pass_oe'].sum()

    # row['Pos_OC_Pass_OE'] = oc_plays / total_plays
    # row['Pos_HC_Pass_OE'] = hc_plays / total_plays


    break

TypeError: unsupported operand type(s) for &: 'list' and 'bool'

In [64]:
# df_usefull_player[['play_id','Pos_OC_Pass_OE','Pos_HC_Pass_OE','week','season','Pos_Head_Coach','Pos_Offensive_Coordinator','pass_oe']][(df_usefull_player['season'] == 2022) & (df_usefull_player['Pos_Head_Coach'] == "Mike Vrabel") & (df_usefull_player['week'] == 10)]

In [33]:
# # for  i, row in df_usefull_player.iterrows():
# #     print(row['season'],row['week'])
# #     try:
# #         df = df_usefull_player[(row['season'] in ([2020,2021,2022])) & (row['week'] in (week))]
# #         print(df[['week','season','Pos_Head_Coach','pass_oe']])
# #         break

# #     except:
# #         pass




# ##################y348734y8734y83y

# for  i,row in df_usefull_player.iterrows():
#     s = row['season']
#     w = row['week']

#     new= df_usefull_player[(s - 2) & (w-1)]

In [45]:
df_usefull_player['season'][161:162]

161    2018
Name: season, dtype: int64

In [ ]:
# relevant_data = df_usefull_player[(df_usefull_player['season'] == 2021) | (df_usefull_player['season'] == 2020) | ((df_usefull_player['season'] ==2022) & (df_usefull_player['week'] <= 4))]

In [ ]:
# groups = relevant_data.groupby(['Pos_Offensive_Coordinator', 'Pos_Head_Coach'])

In [46]:
# total_plays = groups['pass_oe'].count()
# total_plays

In [ ]:
# df_usefull_player["Pos_Offensive_Coordinator"].nunique()

82

In [ ]:
# df_usefull_player["Pos_Head_Coach"].nunique()

65

In [38]:
# pass_oe_sum = groups['pass_oe'].sum()
# pass_oe_sum

In [ ]:
# df_usefull_player

In [ ]:
# pos_oc_pass_oe = pass_oe_sum / total_plays
# pos_hc_pass_oe = pass_oe_sum / total_plays

# pos_oc_pass_oe

Pos_Offensive_Coordinator  Pos_Head_Coach
Adam Gase                  Adam Gase         -3.356923
Adam Stenavich             Matt LaFleur      -3.815780
Alex Van Pelt              Kevin Stefanski   -5.792567
Anthony Lynn               Dan Campbell      -5.121444
Arthur Smith               Mike Vrabel       -8.756512
                                                ...
Tim Kelly                  Bill O'Brien      -0.295105
                           David Culley      -2.831012
                           Romeo Crennel      7.348200
Todd Downing               Mike Vrabel       -7.089316
Wes Phillips               Kevin O'Connell    3.017623
Name: pass_oe, Length: 68, dtype: float64

In [ ]:
# pos_oc_pass_oe.get("Justin Outten", 0)
# # df_usefull_player['Pos_Offensive_Coordinator'][0]
# pos_oc_pass_oe = dict(zip(pos_oc_pass_oe.index, pos_oc_pass_oe.values))
# pos_hc_pass_oe = dict(zip(pos_hc_pass_oe.index, pos_hc_pass_oe.values))

In [ ]:
# df_usefull_player['Pos_OC_Pass_OE'] = df_usefull_player.apply(lambda x: pos_oc_pass_oe.get((x['Pos_Offensive_Coordinator'], x['Pos_Head_Coach']), 0), axis=1)
# df_usefull_player['Pos_HC_Pass_OE'] = df_usefull_player.apply(lambda x: pos_hc_pass_oe.get((x['Pos_Offensive_Coordinator'], x['Pos_Head_Coach']), 0), axis=1)

In [ ]:
df_usefull_player

,index,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,...,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe,Pos_Offensive_Coordinator,Pos_Head_Coach,Pos_OC_Pass_OE,Pos_HC_Pass_OE
0,2,52,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,NaN,NaN,NaN,0.479781,NaN,Steve Sarkisian,Dan Quinn,0.000000,0.000000
1,3,75,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,3.515878,2.0,0.998706,0.147457,0.587117,41.288257,Steve Sarkisian,Dan Quinn,0.000000,0.000000
2,4,104,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,NaN,NaN,NaN,0.498259,-49.825913,Steve Sarkisian,Dan Quinn,0.000000,0.000000
3,5,125,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,NaN,NaN,NaN,0.467981,-46.798116,Steve Sarkisian,Dan Quinn,0.000000,0.000000
4,6,146,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,4.103093,2.0,0.611379,0.240463,0.457959,54.204091,Steve Sarkisian,Dan Quinn,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174801,231988,1549,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,DEN,home,...,NaN,NaN,NaN,NaN,0.762647,23.735290,Justin Outten,Nathaniel Hackett,-0.550451,-0.550451
174802,231990,1577,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,DEN,home,...,3.089912,1.0,0.322627,0.322627,0.952786,4.721403,Justin Outten,Nathaniel Hackett,-0.550451,-0.550451
174803,231993,1640,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,3.009908,1.0,1.000000,0.997145,0.801854,19.814630,Kliff Kingsbury,Kliff Kingsbury,-0.496899,-0.496899
174804,231994,1662,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,NaN,NaN,NaN,NaN,0.837418,16.258250,Kliff Kingsbury,Kliff Kingsbury,-0.496899,-0.496899
174805,231996,1681,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,8.289337,7.0,0.153667,0.153667,0.897126,10.287440,Kliff Kingsbury,Kliff Kingsbury,-0.496899,-0.496899

In [ ]:
#5. Using data from current season (that is already known) + 2 former seasons, add a column called "Pos_OC_Success" and a column called "Pos_HC_Success"
#a. We will define success as the sum of 'success' column divided by number of plays

In [ ]:
# df_usefull_player

In [ ]:
groups = df_usefull_player.groupby(['Pos_Offensive_Coordinator', 'Pos_Head_Coach'])

total_plays = groups['success'].count()
success_sum = groups['success'].sum()
pos_oc_success = success_sum / total_plays
pos_hc_success = success_sum / total_plays


df_usefull_player['Pos_OC_Success'] = df_usefull_player.apply(lambda x: pos_oc_success.get((x['Pos_Offensive_Coordinator'], x['Pos_Head_Coach']), 0), axis=1)
df_usefull_player['Pos_HC_Success'] = df_usefull_player.apply(lambda x: pos_hc_success.get((x['Pos_Offensive_Coordinator'], x['Pos_Head_Coach']), 0), axis=1)

In [ ]:
df_usefull_player.head(20)

,index,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,...,xyac_success,xyac_fd,xpass,pass_oe,Pos_Offensive_Coordinator,Pos_Head_Coach,Pos_OC_Pass_OE,Pos_HC_Pass_OE,Pos_OC_Success,Pos_HC_Success
0,2,52,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,NaN,0.479781,NaN,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
1,3,75,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,0.998706,0.147457,0.587117,41.288257,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
2,4,104,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,NaN,0.498259,-49.825913,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
3,5,125,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,NaN,0.467981,-46.798116,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
4,6,146,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,0.611379,0.240463,0.457959,54.204091,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
5,7,168,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,0.481282,0.253895,0.511643,48.835653,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
6,8,190,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,1.000000,1.000000,0.972056,2.794391,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
7,9,214,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,NaN,0.366529,-36.652935,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
8,10,235,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,NaN,0.255066,-25.506595,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
9,11,256,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,NaN,0.283387,71.661302,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
10,12,278,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,NaN,0.245180,-24.517988,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
11,13,299,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,PHI,home,...,NaN,NaN,0.284077,-28.407708,Mike Groh,Doug Pederson,0.0,0.0,0.446912,0.446912
12,14,320,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,PHI,home,...,0.622114,0.374009,0.587902,41.209763,Mike Groh,Doug Pederson,0.0,0.0,0.446912,0.446912
13,15,344,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,PHI,home,...,0.998790,0.998790,0.929466,7.053369,Mike Groh,Doug Pederson,0.0,0.0,0.446912,0.446912
14,17,402,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,1.000000,1.000000,0.486095,51.390451,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
15,18,424,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,NaN,0.541627,-54.162711,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
16,19,445,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,NaN,0.955077,4.492348,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
17,20,466,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,NaN,0.459502,-45.950222,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
18,21,492,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,0.414119,0.153063,0.817630,18.237001,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967
19,22,521,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,0.682132,0.160555,0.369711,63.028926,Steve Sarkisian,Dan Quinn,0.0,0.0,0.461967,0.461967

In [ ]:
# print(df_usefull_player['weather'].to_string())

In [ ]:
#6.Add a column called "Weather_Type" that takes the first part of the string from 'weather' field
# Examples:
# Clear
# Rainy
# Cloudy
# Partly Cloudy
# Etc.


def get_weather_type(row): 
    weather = row.split('Temp')[0]
    
    return weather

df_usefull_player['Weather_Type'] = df_usefull_player['weather'].apply(get_weather_type)

In [154]:
# df_usefull_player["spread_line"].count()
df_usefull_player[['season', 'week', 'pass_oe', 'Pos_Head_Coach']]

        season  week    pass_oe     Pos_Head_Coach
0         2018     1        NaN          Dan Quinn
1         2018     1  41.288257          Dan Quinn
2         2018     1 -49.825913          Dan Quinn
3         2018     1 -46.798116          Dan Quinn
4         2018     1  54.204091          Dan Quinn
...        ...   ...        ...                ...
174801    2022    15  23.735290  Nathaniel Hackett
174802    2022    15   4.721403  Nathaniel Hackett
174803    2022    15  19.814630    Kliff Kingsbury
174804    2022    15  16.258250    Kliff Kingsbury
174805    2022    15  10.287440    Kliff Kingsbury

[174806 rows x 4 columns]

In [ ]:
df_usefull_player

,index,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,...,xyac_fd,xpass,pass_oe,Pos_Offensive_Coordinator,Pos_Head_Coach,Pos_OC_Pass_OE,Pos_HC_Pass_OE,Pos_OC_Success,Pos_HC_Success,Weather_Type
0,2,52,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,0.479781,NaN,Steve Sarkisian,Dan Quinn,0.000000,0.000000,0.461967,0.461967,Cloudy
1,3,75,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,0.147457,0.587117,41.288257,Steve Sarkisian,Dan Quinn,0.000000,0.000000,0.461967,0.461967,Cloudy
2,4,104,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,0.498259,-49.825913,Steve Sarkisian,Dan Quinn,0.000000,0.000000,0.461967,0.461967,Cloudy
3,5,125,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,0.467981,-46.798116,Steve Sarkisian,Dan Quinn,0.000000,0.000000,0.461967,0.461967,Cloudy
4,6,146,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,0.240463,0.457959,54.204091,Steve Sarkisian,Dan Quinn,0.000000,0.000000,0.461967,0.461967,Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174801,231988,1549,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,DEN,home,...,NaN,0.762647,23.735290,Justin Outten,Nathaniel Hackett,-0.550451,-0.550451,0.371055,0.371055,Partly Cloudy
174802,231990,1577,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,DEN,home,...,0.322627,0.952786,4.721403,Justin Outten,Nathaniel Hackett,-0.550451,-0.550451,0.371055,0.371055,Partly Cloudy
174803,231993,1640,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,0.997145,0.801854,19.814630,Kliff Kingsbury,Kliff Kingsbury,-0.496899,-0.496899,0.427233,0.427233,Partly Cloudy
174804,231994,1662,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,NaN,0.837418,16.258250,Kliff Kingsbury,Kliff Kingsbury,-0.496899,-0.496899,0.427233,0.427233,Partly Cloudy
174805,231996,1681,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,0.153667,0.897126,10.287440,Kliff Kingsbury,Kliff Kingsbury,-0.496899,-0.496899,0.427233,0.427233,Partly Cloudy

In [ ]:
# 7. Add a column called "Implied_Home_Team_Total", "Implied_Away_Team_Total", "Implied_Pos_Team_Total" and "Implied_Def_Team_Total"
# Implied_Home_Team_Total = total_line/2 + spread_line
# Implied_Away_Team_Total = total_line/2 - spread_line
# Implied_Pos_Team_Total = either Implied_Home_Team_Total or Implied_Away_Team_Total based on whether 'posteam_type' = home or away



#----------------------------------------------------modified------------------------------------------------------------------------------
# For the implied totals that you created... i need to modify that formula
# Implied_Home_Team_Total = total_line/2 + spread_line/2
# Implied_Away_Team_Total = total_line/2 - spread_line/2


df_usefull_player['Implied_Home_Team_Total'] = df_usefull_player['total_line']/2 + df_usefull_player['spread_line']/2
df_usefull_player['Implied_Away_Team_Total'] = df_usefull_player['total_line']/2 - df_usefull_player['spread_line']/2

In [ ]:
df_usefull_player

,index,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,...,pass_oe,Pos_Offensive_Coordinator,Pos_Head_Coach,Pos_OC_Pass_OE,Pos_HC_Pass_OE,Pos_OC_Success,Pos_HC_Success,Weather_Type,Implied_Home_Team_Total,Implied_Away_Team_Total
0,2,52,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,NaN,Steve Sarkisian,Dan Quinn,0.000000,0.000000,0.461967,0.461967,Cloudy,22.75,21.75
1,3,75,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,41.288257,Steve Sarkisian,Dan Quinn,0.000000,0.000000,0.461967,0.461967,Cloudy,22.75,21.75
2,4,104,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,-49.825913,Steve Sarkisian,Dan Quinn,0.000000,0.000000,0.461967,0.461967,Cloudy,22.75,21.75
3,5,125,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,-46.798116,Steve Sarkisian,Dan Quinn,0.000000,0.000000,0.461967,0.461967,Cloudy,22.75,21.75
4,6,146,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,54.204091,Steve Sarkisian,Dan Quinn,0.000000,0.000000,0.461967,0.461967,Cloudy,22.75,21.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174801,231988,1549,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,DEN,home,...,23.735290,Justin Outten,Nathaniel Hackett,-0.550451,-0.550451,0.371055,0.371055,Partly Cloudy,19.50,18.00
174802,231990,1577,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,DEN,home,...,4.721403,Justin Outten,Nathaniel Hackett,-0.550451,-0.550451,0.371055,0.371055,Partly Cloudy,19.50,18.00
174803,231993,1640,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,19.814630,Kliff Kingsbury,Kliff Kingsbury,-0.496899,-0.496899,0.427233,0.427233,Partly Cloudy,19.50,18.00
174804,231994,1662,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,16.258250,Kliff Kingsbury,Kliff Kingsbury,-0.496899,-0.496899,0.427233,0.427233,Partly Cloudy,19.50,18.00
174805,231996,1681,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,10.287440,Kliff Kingsbury,Kliff Kingsbury,-0.496899,-0.496899,0.427233,0.427233,Partly Cloudy,19.50,18.00

In [ ]:
# df_usefull_player['Implied_Pos_Team_Total'] = df_usefull_player.apply(lambda x: x['Implied_Home_Team_Total'] if x['posteam_type'] == 'home' else x['Implied_Away_Team_Total'], axis=1)
# df_usefull_player['Implied_Def_Team_Total'] = df_usefull_player.apply(lambda x: x['Implied_Away_Team_Total'] if x['posteam_type'] == 'away' else x['Implied_Home_Team_Total'], axis=1)

In [ ]:
# Modify Implied_Pos_Team_Total to be equal Implied_Home_Team_Total if posteam_type = home
# Modify Implied_Pos_Team_Total to b equal Implied_Away_Team_Total if posteam_type = away

df_usefull_player.loc[df_usefull_player['posteam_type'] == 'home', 'Implied_Pos_Team_Total'] = df_usefull_player['Implied_Home_Team_Total']
df_usefull_player.loc[df_usefull_player['posteam_type'] == 'away', 'Implied_Pos_Team_Total'] = df_usefull_player['Implied_Away_Team_Total']

In [ ]:
# df_usefull_player.head(12)

In [ ]:
# df_usefull_player.loc[df_usefull_player['posteam_type'] == 'home']  #174795	, 19.50

In [ ]:
# Modify Implied_Def_Team_Total to be equal Implied_Away_Team_Total if posteam_type = home
# Modify Implied_Def_Team_Total to be equal Implied_Home_Team_Total if posteam_type = away



df_usefull_player.loc[df_usefull_player['posteam_type'] == 'home', 'Implied_Def_Team_Total'] = df_usefull_player['Implied_Away_Team_Total']
df_usefull_player.loc[df_usefull_player['posteam_type'] == 'away', 'Implied_Def_Team_Total'] = df_usefull_player['Implied_Home_Team_Total']

In [ ]:
df_usefull_player

,index,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,...,Pos_Head_Coach,Pos_OC_Pass_OE,Pos_HC_Pass_OE,Pos_OC_Success,Pos_HC_Success,Weather_Type,Implied_Home_Team_Total,Implied_Away_Team_Total,Implied_Pos_Team_Total,Implied_Def_Team_Total
0,2,52,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,Dan Quinn,0.000000,0.000000,0.461967,0.461967,Cloudy,22.75,21.75,21.75,22.75
1,3,75,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,Dan Quinn,0.000000,0.000000,0.461967,0.461967,Cloudy,22.75,21.75,21.75,22.75
2,4,104,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,Dan Quinn,0.000000,0.000000,0.461967,0.461967,Cloudy,22.75,21.75,21.75,22.75
3,5,125,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,Dan Quinn,0.000000,0.000000,0.461967,0.461967,Cloudy,22.75,21.75,21.75,22.75
4,6,146,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,Dan Quinn,0.000000,0.000000,0.461967,0.461967,Cloudy,22.75,21.75,21.75,22.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174801,231988,1549,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,DEN,home,...,Nathaniel Hackett,-0.550451,-0.550451,0.371055,0.371055,Partly Cloudy,19.50,18.00,19.50,18.00
174802,231990,1577,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,DEN,home,...,Nathaniel Hackett,-0.550451,-0.550451,0.371055,0.371055,Partly Cloudy,19.50,18.00,19.50,18.00
174803,231993,1640,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,Kliff Kingsbury,-0.496899,-0.496899,0.427233,0.427233,Partly Cloudy,19.50,18.00,18.00,19.50
174804,231994,1662,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,Kliff Kingsbury,-0.496899,-0.496899,0.427233,0.427233,Partly Cloudy,19.50,18.00,18.00,19.50
174805,231996,1681,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,Kliff Kingsbury,-0.496899,-0.496899,0.427233,0.427233,Partly Cloudy,19.50,18.00,18.00,19.50

In [ ]:
#8.Add a column called "Posteam_Spread" that returns spread_line if posteam_type = away or returns spread_line*-1 if posteam_type = home

df_usefull_player['Posteam_Spread'] = df_usefull_player['spread_line'] * df_usefull_player.apply(lambda x: 1 if x['posteam_type'] == 'away' else -1 ,axis=1)

In [ ]:
df_usefull_player

,index,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,...,Pos_OC_Pass_OE,Pos_HC_Pass_OE,Pos_OC_Success,Pos_HC_Success,Weather_Type,Implied_Home_Team_Total,Implied_Away_Team_Total,Implied_Pos_Team_Total,Implied_Def_Team_Total,Posteam_Spread
0,2,52,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,0.000000,0.000000,0.461967,0.461967,Cloudy,23.25,21.25,21.25,21.25,1.0
1,3,75,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,0.000000,0.000000,0.461967,0.461967,Cloudy,23.25,21.25,21.25,21.25,1.0
2,4,104,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,0.000000,0.000000,0.461967,0.461967,Cloudy,23.25,21.25,21.25,21.25,1.0
3,5,125,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,0.000000,0.000000,0.461967,0.461967,Cloudy,23.25,21.25,21.25,21.25,1.0
4,6,146,2018_01_ATL_PHI,2018090600,PHI,ATL,REG,1,ATL,away,...,0.000000,0.000000,0.461967,0.461967,Cloudy,23.25,21.25,21.25,21.25,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174801,231988,1549,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,DEN,home,...,-0.550451,-0.550451,0.371055,0.371055,Partly Cloudy,20.25,17.25,20.25,20.25,-1.5
174802,231990,1577,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,DEN,home,...,-0.550451,-0.550451,0.371055,0.371055,Partly Cloudy,20.25,17.25,20.25,20.25,-1.5
174803,231993,1640,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,-0.496899,-0.496899,0.427233,0.427233,Partly Cloudy,20.25,17.25,17.25,17.25,1.5
174804,231994,1662,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,-0.496899,-0.496899,0.427233,0.427233,Partly Cloudy,20.25,17.25,17.25,17.25,1.5
174805,231996,1681,2022_15_ARI_DEN,2022121805,DEN,ARI,REG,15,ARI,away,...,-0.496899,-0.496899,0.427233,0.427233,Partly Cloudy,20.25,17.25,17.25,17.25,1.5

In [ ]:
df_usefull_player['Weather_Type'].unique()

array(['Cloudy ', 'Rain ', 'Clear ', 'Partly Cloudy ', 'Cloudy and Cool ',
       'Sunny ', 'Controlled Climate ', 'N/A (Indoors) ',
       'Scattered Showers ', 'N/A Indoor ', '', 'Fair ',
       'Rain Chance 40% ', 'Light Rain ', 'Clear and sunny ',
       'Mostly sunny ', 'Sunny and warm ', 'Mostly Cloudy ',
       'Mostly Sunny ', 'Partly Sunny ', 'Partly clear ',
       'Clear and Sunny ', 'Partly cloudy ', 'cloudy ',
       'Cloudy, 50% change of rain ', 'Clear and Cool ', 'Sunny, Windy ',
       'Clear skies ', 'Sunny and clear ', 'Hazy ', 'Indoors ',
       'Mostly Sunny Skies ', 'Mostly cloudy ', 'Partly Clouidy ',
       'Snow ', 'Sunny Skies ', 'Clear Skies ', 'Overcast ',
       'T: 51; H: 55; W: NW 10 mph ', 'Rain shower ', 'Cloudy, Rain ',
       'Clear and cold ', 'Rainy ', 'Sunny and cold ', 'Breezy ', 'N/A ',
       'Partly cloudy and mild ', 'Mostly Clear ', 'partly cloudy ',
       'Light rain ', 'N/A Indoors ', 'Partly sunny ',
       'Cloudy with showers and wind ', 'sUNNY ', 'overcast ',
       'Mostly clear ', 'Cold ', 'Rain and Wind ', 'Raining ',
       'Freezing Rain ', 'Cloudy, Light Rain ', 'clear skies ',
       'Cloudy and cool ', 'Sunny and cool ', 'SUNNY ', 'Foggy ',
       'Outdoor ', 'Dry ', 'Sunny, 65 degrees. Wind E at 13 mph ', 'n/a ',
       'Party Cloudy ', 'Sunny, 79 degrees. wind SW at 6 mph ',
       'Cloudy with showers ', 'Light Snow/Fog ', 'Cloudy and Windy ',
       'Partly Cloudy/Windy ', 'sunny ', 'Clear, sunny ', 'Partly Coudy ',
       'Controlled Climage ', 'Cloudy, 38 degr. Wind NNW at 10 mph ',
       'Partly Cloudy, 45 degr. Wind SW at 10 mph ', 'Sunny and Cold ',
       'Cloudy with snow flurries ', 'Partly Cloundy ',
       'Sunny with some clouds ', 'Sunny 81 degrees, Wind SW at 6mph ',
       'Scattered clouds ', 'clear ', 'Light rain, fog and mist ',
       'Hazy skies ', 'Cloudy, rainy ', 'Mid 60s and Partly Cloudy ',
       'scattered clouds ', 'T: 66; H: 47%; WS, 9 mph ',
       'Overcast and Brisk ', 'Showers ', 'Mostly Sunny and Cool ',
       'Indoor ', 'Partly Cloudy & Windy ', 'Cloudy with wind ',
       'Partly Cloudly ', 'Sunny and Blustery ', 'Sunny and Mild ',
       'Snow shower ', 'Cloudy and Unseasonably Warm ',
       'Snow showers/wind ', 'Cloudy, rain ', 'Rain and mid 70s ',
       'Sunny, temperature in 80s at end of game ',
       'Mostly Cloudy with Light Rain Forecasted ', 'Clear, ',
       'Cloudy, Showers ', 'Partly Cloudy and Sunny ', 'Sunny and windy ',
       'T: 66; h: 60%; W: NW 7mph ', 'Warm and Overcast ',
       'Scattered Clouds ', 'Fair and Breezy ',
       'Upper 40s to mid 30s by end of game ', 'Rain and low 50s ',
       'Rain showers '], dtype=object)

In [ ]:
df_usefull_player.drop('index',inplace=True,axis=1)

In [ ]:
df_usefull_player.to_csv("play_play_output.csv",index=False)

In [ ]:
# df_usefull_player.to_excel("play_play_output.xlsx",index=False) 
# df_usefull_player['total']

0         30
1         30
2         30
3         30
4         30
          ..
174801    39
174802    39
174803    39
174804    39
174805    39
Name: total, Length: 174806, dtype: int64

In [ ]:

# 2 members
# terms... need to convert posteam and defteam variables into home and away variables
# Implied_Pos_Team_Total
# Implied _Def_Team_Total
# Since pos and def do not match up to home and away, we need to create new columns for Implied _Home_Team_Total and Implied_Away_Team_Total... same is true for:
# a. Posteam_Spread 
# b. Pos_OC_Pass_OE
# c. Pos_OC_Success
# d. Pos_HC_Pass_OE
# e. Pos_HC_Success